{% extends 'jobtracker/base.html' %}

{% block title %}Job Applications{% endblock %}

{% block content %}
<h1>Job Applications</h1>
<a href="{% url 'job_create' %}" class="btn btn-primary mb-4">Add New Job</a>
<ul class="list-group">
    {% for job in jobs %}
        <li class="list-group-item bg-dark text-light">
            <strong>{{ job.position }}</strong> at <strong>{{ job.company }}</strong>
            <span class="badge bg-secondary">{{ job.get_status_display }}</span>
            <div>Applied on {{ job.applied_date }}</div>
            <div class="mt-2">
                <a href="{% url 'job_update' job.pk %}" class="btn btn-sm btn-secondary">Edit</a>
                <a href="{% url 'job_delete' job.pk %}" class="btn btn-sm btn-danger">Delete</a>
            </div>

        </li>
    {% empty %}
        <li class="list-group-item bg-dark text-light">No job applications yet.</li>
    {% endfor %}
</ul>
{% endblock %}
